
server:
  port: ${SERVER_PORT}

logging:
  level:
    root: INFO

spring:
  application:
    name: adventure
  jpa:
    hibernate:
      ddl-auto: validate
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:adventure}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include:  health,info,metrics,prometheus
  endpoint:
    health:
      show-details: never
    prometheus:
      enabled: true
  logging:
    level:
      io.micrometer: INFO