spring:
  application:
    name: adventure
  datasource:
    url: jdbc:postgresql://localhost:5432/adventure
    username: user
    password: password
  jpa:
    properties:
      hibernate:
        ddl-auto: none
  sql:
    init:
      mode: always
      platform: postgres