info:
  app:
    name: AdventureBooks
    version: 0.0.4
    description: Implement an adventure book REST API
server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: adventure
  datasource:
    url: jdbc:postgresql://localhost:5432/adventure
    username: user
    password: password
  jpa:
    properties:
      hibernate:
        ddl-auto: none
  sql:
    init:
      mode: always
      platform: postgres